@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

ul {
  list-style: none;
  background: #22438c;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration-line: none;
    font-size: 20px;
}

ul li ul .dropdown li{
    display: block;}

ul li ul .dropdown {
    width: 100%;
    background: #22438c;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
    background: #112C66;
}

ul li:hover ul.dropdown{
    display: block;
}